$themes: (
  light: (
    textColor: black,
    textColorSoft: #555,
    logo: darkblue,
    bgColor: white,
    bgSoft: #f6f3f3,
    border: lightgrey,
  ),
  dark: (
    textColor: whitesmoke,
    textColorSoft: lightgrey,
    logo: white,
    bgColor: #222,
    bgSoft: #333,
    border: #444,
  ),
);
@mixin themed($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}
@function t($key) {
  @return map-get($theme-map, $key);
}
